.input {
    display: block;
    width: 92%;
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: inherit;
    font: inherit;
}

.input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}