.body {
    background-color: #0079BF;
    padding: 28px;
    font-family: 'Roboto';
}

.card {
    background-color: #fff;    
    height: 550px;
    border-radius: 5px;
    text-align: center;
    
}

.title {    
    font-size: 24px;
    line-height: 28px;
    padding-top: 50px;
}

.red {
    color: #da4d4d;
    font-weight: 700;
    
}

.red:hover {
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}