p {
    margin: 3px 0;
}

.cards {
    background-color: #0079BF;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 23%;
}

.card_backlog {
    flex: 0 1 25%;
}

.card_finished {
    flex: 0 1 25%;
}

.card_progress {
    flex: 0 1 25%;
}

.card_ready {
    flex: 0 1 25%;
}

.item {
    border: 1px solid black;
    border-radius: 15px;
    display: block;
    margin: 15px;
    background: #EBECF0;
}

